body {
    font-family:sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    text-align: center;
}

header {
    background-color: #333;
    color: white;
    padding: 1em 0;
    width: 100%;
    text-align: center;
    z-index: 1000;
    position: fixed; /* Hacer que el header sea fijo */
    top: 0;
    left: 0;
    right: 0;
}

header .logo img {
    height: 50px;
    margin: 0 auto; /* Centra el logo horizontalmente */
    display: block; /* Para asegurar el centrado */
}

nav {
    background-color: #333;
    color: white;
    padding: 0.5em 0;
    text-align: center;
    position: relative; /* Posición relativa para ajustar con JavaScript */
    z-index: 1001; /* Colocar por encima del header fijo */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

main {
    padding: 2em;
    box-sizing: border-box; /* Asegura que el padding se incluya en el ancho total */
    padding-top: 120px; /* Ajustar el espacio superior para que no se superponga con el menú */
}

section {
    margin-bottom: 4em; /* Espacio adicional entre secciones */
}

section h2 {
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 0.5em;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    padding: 0.5em 0;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: relative;
    bottom: 0;
    width: 100%;

}

table {
    width: 100%;
	max-width: 500px;
    border-collapse: collapse;
    margin-bottom: 2em;
	 margin: 0 auto 2em;
	border-bottom: 3px solid #ddd;
}
.left-align {
            text-align: left;

        }
        .right-align {
            text-align: right;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
 .circle {
            display: inline-block;
            width: 80px; /* Ajusta el tamaño del círculo */
            height: 80px; /* Ajusta el tamaño del círculo */
            border-radius: 50%;
            border: 0px solid black; /* Ajusta el grosor y color del borde del círculo */
	 		background-color: coral;
            display: flex;
            align-items: center;
            justify-content: center;
        }
 .min-height {
            min-height: 200%; /* Ajusta la altura mínima de la celda */

            align-items: center;
        }

th, td {
    padding: 1em;
    text-align: left;
    border-bottom: 0px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}


/* Estilos para las imágenes dentro de las tablas */
table img {
    max-width: 100%;
	width: 100%; /* Ajusta este valor según sea necesario */

    height: auto;
    display: block;
    margin: 0 auto; /* Centra la imagen horizontalmente */
}





